<!DOCTYPE html>
<html>
<head>
  <title>MyRailsGem</title>
  <%= stylesheet_link_tag    "my_rails_gem/application", media: "all" %>
  <%= javascript_include_tag "my_rails_gem/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
